.baar-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999999999;
  width: 260px;
  padding: 20px;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  box-shadow:  0 0 0 1px rgba(0,0,0, .08), 2px 4px 8px -2px rgba(0,0,0, .2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

.baar-close-button {
  position: absolute;
  color: #000;
  cursor: pointer;
  padding: 10px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 10px;
  background: none;
  border: none;
  outline: 0;
}

.baar-close-button:active,
.baar-close-button:visited,
.baar-close-button:focus,
.baar-close-button:hover {
  color: #000;
  text-decoration: none;
}

.baar-title {
  display: block;
  margin-bottom: 4px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-weight: normal;
}

.baar-body {
  display: block;
  margin-bottom: 16px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

.baar-button {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 4px 20px;
  border-radius: 4px;
  line-height: 36px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
  font-size: inherit;
  color: #2d2d2d;
  background-color: #F5B121;
}

.baar-button:hover {
  color: #000;
  background-color: #E4A31A;
}